<!DOCTYPE html>
<html>
  <head>
    <title>AwsUploader</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= form_tag @post.url, class: "dropzone", id: "uploader" do %>
      <% @post.fields.each do |key, value| %>
        <%= hidden_field_tag key, value %>
      <% end %>
    <% end %>
    <%= yield %>
  </body>
</html>
